{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'accounts/styles.css' %}">

<div class="account_widget">
    {% if current_user %}
        <span class="current_user"> Welcome, {{current_user.login}}</span>
    {% else %}
        {% if request.GET.wrong_login %}<p class="err">Wrong credentials!</p>{% endif %}
        <br />
        {{request.GET.wrong_login}}
        <form action="{% url 'accounts:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="login" id="widget_login" value="" placeholder="login">
            <input type="password" name="password" id="widget_pw" value="" placeholder="password">
            <input type="submit" value="Go">
        </form>
    {% endif %}
</div>